@charset "utf-8";
@font-face {
    font-family: 'KCCMurukmuruk';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCMurukmuruk.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body, .nibo{
	height: 100%
}

 a {
	color: black;
}
.nibo{
	font-family: 'KCCMurukmuruk';
	font-size:30px;
	width: 500px;
	background-color: #FFE4E1;
	padding: 300px 0px;
	text-align: center;
	margin: 0 auto;
	
	    display: flex;
    flex-direction: column;
    align-items: center;
}

.nibo button{
	font-family: 'KCCMurukmuruk';
	font-size:20px;
	margin-top: 20px;
	padding: 20px 50px;
	background-color: white;
	border: none;
	border-radius:20px;
}


/* -----------------------------------모달 css---------------------------------- */


.modal_box{
	font-family: 'KCCMurukmuruk';
	background-color:white;
	padding:70px 35px;
	border:1px solid #eeeeee;
	border-radius: 30px;
	display: flex;
    align-items: center;
    flex-direction: column;
}

.modal_box h3 {
	margin-top: 0px;
}
.modal_box h4 {
	margin: 0px;
	font-weight: lighter;
}

.bodycheck input{
	padding: 3px;
    margin-right: 3px;}

.bodycheck div{
	margin: 15px 0px;
	font-size: 20px;
}
.modalBtn button{
	font-family: 'KCCMurukmuruk';
	margin: 30px 5px;
	padding: 10px 20px;
	background-color:  #FFE4E1;
	border: none;
	border-radius: 5px;
}

.exercise ,.exercise option{
	font-family: 'KCCMurukmuruk';
}
/*----------------------------------print구역-----------------------------*/
.printBox{
	font-family: 'KCCMurukmuruk';
	font-size:30px;
	width: 500px;
	background-color: #FFE4E1;
	padding: 100PX 0px;
	text-align: center;
	margin: 0 auto;
}

.pbox1, .pbox2{
	width: 100%; 
	margin: 0 auto;
	background-color: white;
	
}

.pbox1 tr , .pbox2 tr{
	display: flex;
	justify-content: space-around;
}

.pbox1 td, .pbox2 td{
	font-size: 20px;
	padding: 0px 20px;
}

.pbox1 {
	margin-bottom: 20px;
	border-bottom: 2px solid  #FFE4E1;
}

