@charset "UTF-8";
#header{
	background-color: red;
	border-bottom: 1px solid #eeeeee;
	display: flex; 
	justify-content: space-between;
/*position: fixed;
	top: 0px;*/
	position: sticky;   /*해당요소가 화면에서 나갔을때 위치 top: 0px 에고정*/
	top: 0px;             /*가장위에 */
	z-index: 1; /*팝업창과 겹치기 때문에 z-index 써줌*/
	
}
.h_menu li{
	display: inline;
}

.popup{
	width: 20%;
	border: 1px solid red;
	position: fixed; /*화면 위치 고정*/
	right: 0px;top: 40%; /*위치임 가장 오른쪽에서,위에서40프로 내려서 팝업을 고정시킴*/
	background-color: blue;
	 opacity: 1;  /*투명도[퍼센트단위로 쓰던지 아니면0~1사이에 소스점]*/ 
	}
body{background-color: yellow;position: }
		
		
		
