@charset "UTF-8";

a{
	color: black; /*a의 기본속성값중 블루색상을 블랙으로변경*/
	text-decoration: none; /*a의 기본속성값중 하나인 밑줄을 삭제*/
}
a:hover { /*마우스를 올렸을때에 대한 변경값*/
	color: orange;
}

a:active {/*마우스를 클릭 했을때의 변경값-클릭할떄 3초간 하지않기때문에 순간적으로 지나감*/
	color: blue;
}

a:visited {/*클릭 한 적이 있을때*/
	color: red;
}

#header{
	background-color: #eeeeee;
	display:flex;
	justify-content: center;
	
}

#header .dropdown{
	display: inline-block;
	margin-right: 50px;
	
	
}

.dropdown{position: relative;} 	/*상위 요소에 position: relative; 꼭써주기 */
.sub_menu{
	position: absolute;			 /*하위 요소에 absolute */
	top: 10px;left: -30px;		/*상위요소와 하위요소 사이에 공백이 생기면안됨 접점이 있어야 hover유지가 된다*/
	display: none;				/*숨기기[화면에 표시 안함]*/
	padding-top:30px;			/*상위요소와 하위요소 사이에 여백*/
	border-bottom: 2px #eeeeee solid;
	border-left: 2px #eeeeee solid;
	border-right: 2px #eeeeee solid;
	border-top: 2px red solid;
	width: 100px; 
	font-size: 15px;
	}
.dropdown a{width: 200px;}

.dropdown:hover .sub_menu {display: block;} /*보여주기[화면에 표시 함]*/















