@charset "UTF-8";
/*-----------------------공통-----------------------------*/
body{background-color: #F5F6F7;} /*전체 배경색*/
a{color: black; text-decoration: none;}
*{font: "맑은고딕";}
*:focus{outline: none;}
/*input 입력창에 마우스 커서[포커스 깜빡깜빡]생겼을때 아웃라인 블랙으로 생긴다 그걸 삭제해줌*/
/*-----------------------공통-----------------------------*/
/*-----------------------해더-----------------------------*/
.logo{
	width: 460px; /*로고 박스권*/
	margin:0 auto;	/*로고 가운데*/
	text-align: center; /*가운데*/
	}
 /*text-align: center를 안쓰고 display: flex;justify-content: center; 서도 무관*/

.logo img{height: 50px; margin: 20px;padding: 20px; }
/*display: flex;justify-content: center;을 사용 하게 되면 margin: 50px 0px; 넣어주면됨*/
/*------------------------------------------------------*/
/*-----------------------본문-----------------------------*/
	/*1.입력상자*/

#join_form{width: 460px; margin: 0 auto;}
.signup_input{/*인풋과 네이버 주소가 묶인 상자*/
	border:solid 1px #eeeeee; background-color: white;
	padding: 10px;
	display: flex;
	align-items: center;
	}
.input_id{
	border: none;
	width: 100%;
	height: 30px;
	}
.signup_at{color: #8E8E8E;}
h3{text-align: left;font-size: 14px; margin: 10px 0px;}
.signup_lock{
	/*네이버에서 사용하고 있는 아이콘 주소를 불러옴*/
	background-image: url("https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png");
	width: 25px; /*해당 요소의 가로사이즈*/
	height: 25px; /*해당 요소의 세로사이즈*/
	background-size: 120px 70px; /*이미지의 사이즈*/
	margin-top: 5px;
	
	}
.birthbox{display: flex;
justify-content: space-between; /*년,월,일 3개를 가로정렬하기위해*/
}
#brith_y,#brith_m,#brith_d
{width: 130px;}
#brith_m{margin: 0px 20px;}
.s_text{
	font-size: 8px;
	color: #8E8E8E;
	font-weight:normal; /*글자 굵기 진하게를 뺀거임*/
}
.phonebox{display: flex;justify-content: space-between;margin: 10px 0px;} /*큰박스*/

.btn{background-color:#03C75A ;border: none;color: white;width: 120px;font-size: 15px;font-weight: bold;}/*인증번호받기 버튼*/

#input_phone{width: 300px;}/*전화번호 입력란*/

#authbox,#input_auth{background-color: #F5F6F7;}
#join{width: 100%;height:50px; margin: 30px 0px; font-size: 20px;font-weight: bold;}

.ft_box{width: 460px; margin: 0 auto;text-align: center;}

.ft_top a{font-size: 8px;}
.ft_top a :hover {
	color: #F5F6F7;
	text-decoration: underline;
}
.ft_sub{
	margin-top:3px;
	display: flex; 
	justify-content: center;align-items: center;}
.ft_sub img{height: 20px; padding: 10px;}
.ft_sub div{font-size: 5px;}
.ft_top a {color: #8E8E8E;font-size: 3px;}
.line{font-weight: bold;}


