@charset "UTF-8";

/*
	1.하위 선택 식별자 : 띄어쓰기 구분 [식별자 하위식별자]
	2.복수 선택 식별자 : , 구분 [식별자,식별자,식별자]
*/


.fee_t,.fee_t th,.fee_t td  {
	border: solid 2px black;
}

.fee_t{
	border-collapse:collapse; /*테두리 병합 1줄로*/
	color: black; 
}

.fee_t th{ /*하위 선택자(해당클래스안에 th만 적용)*/
	padding: 10px 20px; /*안쪽면 위아래(10) 왼오(20)*/
	background: pink;
}
.fee_t td{
	padding: 10px;
	text-align: center; /*글자가 가운데로 옴*/
}
.fee_t .col1{ width: 50px;} /*1열*/
.fee_t .col2,.fee_t .col3{ width: 100px;}
.fee_t .col4{ width: 200px;}
