@charset "UTF-8";

.box{
	border:  solid 1px blue;
	width: 100px; height: 50px;
}
/*display: flex   (상위 폴더에 플렉스를 넣을것)
	div가 한 열에 배열이됨
	
	1.flex-direction: row    <- 가로배치[기본값]
	2.flex-direction: column <- 열배치
	3.flex-direction: row-reverse   <-가로배치[우측에서부터 321]
	4.flex-direction: column-reverse <- 열배치[아래에서부터	3
														2
														1  ]



*/
.flex_box1{
	border: solid 1px red;
	padding: 3px;
	display: flex;
}

.flex_box2{
	border: solid 1px red;
	padding: 3px;
	display:flex;
	flex-direction: column;
}
	
.flex_box3{
	border: solid 1px red;
	padding: 3px;
	display:flex;
	flex-direction: row-reverse;
}	
	
.flex_box4{
	border: solid 1px red;
	padding: 3px;
	display:flex;
	flex-direction: column-reverse;
}
	
	
	
	
	
	