@charset "UTF-8";

.container{
	display: flex;
	
}

.box{
	width: 10%;
	height: 50%;
	background-color: red; color: white;
	border: 1px solid black;
}

#flexbox1{	justify-content: flex-start;}			/*box가 왼쪽에서 쭈루룩 =기본값 row*/
#flexbox2{	justify-content: flex-end;}			/*box가 맨오른쪽으로 쭈루룩*/
#flexbox3{	justify-content: center;}			/*box가 가운데*/
#flexbox4{	justify-content: space-between ;}	/*왼쪽 오른쪽에 빈틈없이붙어버린다*/
#flexbox5{	justify-content: space-around ;}	 /*왼쪽 오른쪽에 약간 떨어진다*/
#flexbox6{	justify-content: space-evenly ;}	/*왼쪽 오른쪽에 어라운드보다 좀더 떨어진다*/






