@charset "UTF-8";

.cattingbox{
	width: 30%;
	margin: 50px auto;	

}

.contentbox{
	background-color: #bacee0;
	height: 700px;
	/*해당 내용이 크기보다 더 많아지면 스크롤을 만들꺼다 세로로*/
	overflow-y:scoll; 
	padding: 10px;
}

.secontent{
	display: flex;
	justify-content:flex-end;
	align-items: flex-end;
	margin-top: 15px;
	
}
.date{font-size: 7px; margin: 0px 5px;} /*시간*/

.content{/*내용물*/
	background-color: #ffffff;
	border-radius: 10px;
	padding: 5px;
	/*자동줄바꿈 ! 해당 구역 크기보다 내용물이 커지면 자동줄바꿈*/
	max-width: 70%;/*해당 줄바꿈 */
	word-break:break-all;
	font-size: 12px;
}




.msgbox{
	width: 100%;
	border: 1px solid #e8e8e8;
	padding: 15px;
	resize: none;
}
.cattingbtnbox{
	display: flex;
	justify-content: flex-end;
}

.sendbtn{
	padding:10px;
	background-color: #ffeb33;
	border: none;
	border-radius: 5px;
	font-size: 12px;
	
	
}

.secontent .content{
	background-color: #ffeb33;
}

.alarm{
	width: 70%;
	margin: 20px auto;
	font-size: 12px;
	text-align: center;
	background-color:#b1c3d5;
	border-radius: 10px;
	
}

.name{font-size: 12px;}

.tocontent{
	display: flex;
	margin-top: 15px;
}
.rcontent{
	margin-left: 10px;
}


.contentdate{
	display: flex;
	align-items: flex-end;

}





















