@charset "UTF-8";


.viewtop{
    display: flex;
    margin: 30px 0px;
}
.rviewtop{
	margin-left: 10px;
	
}
.btitle{
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 30px;
}
.bcontent{
	padding: 10px;
	margin-bottom: 30px;
}
.bfilebox{
	border-top: 1px solid #eeeeee;
	padding-top:  20px;
}
.replywritebox{
	border: 1px solid #eeeeee;
	padding: 20px;
	border-radius: 20px;
	display: flex;
	justify-content: space-evenly;
}
.rcontent{
	width: 80%;
	border: 1px solid #808080;
	border-radius: 10px;
	resize: none;
	padding: 15px;
}


.rwritebtn{
	padding: 20px;
	font-size: 12px;
}

.replycount{
	font-size: 12px;
	margin : 50px 0px 5px 0px;
	
}

.btnbox{
	text-align: right;
}









