@charset "UTF-8";

#sub_img{ background-image: url("이미지/sub_reservation.jpg");}
/*class="sub_img" 소개에서 사용한 클래스를 이용 */
															

/*그냥 l_c1 이라고 쓰면 안됨 
상위인 id가 소개에서 #content div{width: 580px; padding: 50px 10px;} 사용되었기때문
소개에서 사용한content div=즉 예약의 l_c1와r_c1를 뜻한다 width: 580px로 적용시킴*/
#content .l_c1{
	width: 900px; background-color:#FCF9EA;
	display: flex ;padding:30px; margin: 50px 0px;flex-direction: column;}
	
.mon{  margin-bottom: 30px;
   		 margin-top: 0px;
   		 font-size: 30px;}	

.예약날짜{text-align: center;}
.table{background-color: white;}
.mon{text-align: center;}

.red{color: red;}

.table_f td{width: 120px; height: 30px;text-align: center;}
.table_b td{height: 120px; vertical-align: top;}

#content .r_c1{width: 300px; margin: 50px 10px;}
 .r_c1 h2{border-left:solid #3E3E3E 8px; }
 .r_c1 ul{padding: 0px;}
 .r_c1 h5{color: green;}
 .r_c1 li{padding-bottom: 5px;}




