@charset "UTF-8";

#sub_img2{ background-image: url("이미지/sub_reservation.jpg");}
#content1{width: 1200px; display: flex;justify-content: center;margin: 0 auto;}

.l_c1{width: 900px; background-color:#FCF9EA;display: block;padding:30px; margin: 50px 0px;}
.예약날짜{text-align: center;}
.table{background-color: white;}
.mon{text-align: center;}

.red{color: red;}
.table_f td{padding: 10px 50px;}
.table_b td{padding: 3px 50px 60px 3px;}

.r_c1{width: 300px; margin: 50px 10px;}
.r_c1 h2{border-left:solid #3E3E3E 8px; }
.r_c1 ul{padding: 0px;}
.r_c1 h5{color: green;}




