@charset "UTF-8";
h3{
	border-left: solid 10px green;
	padding-left: 20px;
}
ul{
	background-color: #EEEEEE;
	border: solid 2px #DFDFDF;
	border-radius :10px;
	padding: 30px;
	width: 500px
}

li{
	margin: 10px 20px;
	line-height: 170%;
}


form{
	border: solid 2px #DFDFDF ;
	border-radius: 20px;
	padding: 20px;
	width: 300px;
	margin: 30px;
	
}
.p1{
	border-bottom: dotted 1px #CCCCCC;
	padding-bottom: 5px;
}

h4{
	text-align: right;
}
a{ /*a테그가 가지고 있는 기본속성(색이파랑색,밑줄)*/
	color: black;
	text-decoration: none;
}
