@charset "UTF-8";
.wrap{
	display: flex;
	justify-content: center; /* 레이아웃 가운데 */
	flex-wrap: wrap;
	
}
.addbox,.listbox,.updatebox{
	border: 1px solid #eeeeee;
	width: 40%;
	text-align: center;
	
}
.addtable,.updatetable{
	margin: 0 auto;
}
.updatebox{
	display: none;
}