@charset "EUC-KR";

 /**********************공통**********************/
*{padding: 0px; margin: 0px; font-family: "맑은고딕"; }
a{color: black;text-decoration: none;}
li{list-style-type: none;}
@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;}
 /********************************************/
 
 
 #header{

 width: 1200px; margin: 0 auto; height: 100px;
 }
.test{display: flex; justify-content: space-between;}
.img{padding: 10px 0px; border-bottom:3px solid #eeeeee; border-top: 3px solid #eeeeee; }
.up_li{text-align: right;}
.up_li li {display: inline-block; padding: 10px; }
.down_li li {display: inline-block; padding-left: 30px; margin: 10px 0px; }
.down_li a{font-size: 20px;font-family: 'KorailRoundGothicBold'}

 /*콘텐츠*/
 #content{width: 1200px; margin: 0 auto;display: flex;justify-content: space-between;}
 .l_con{width: 250px; }
 .l_con p{padding: 13px;}
 .l_con h3{background-color: #0CA9A3; color: white; padding: 10px;}
 .l_con input{margin: 5px;}
 .tb{ justify-content: space-between; display: flex; padding-bottom: 10px;}
 h4{border-top:solid 2px black; border-bottom:solid 1px #eeeeee; padding: 10px;}
 .l_con li{padding: 5px;}
 
 .c_con{width: 450px;}
 .c_con h3{ border-bottom:solid 2px black;}
 .쿠키{display: flex; justify-content: space-between;margin: 10px 0px; font-size: 13px; }
 .게시판{margin-top: 50px;}
 
 .r_con{width: 450px;}
 .r_con h3{ border-bottom:solid 2px black;}
 .wpqkd{width: 450px; display: flex; justify-content: space-between;     flex-wrap: wrap;}
 .wpqkd ui{margin: 15px;  }
 
 #footer{ background-color: #05354E; margin-top: 50px;   }
 .ft_top {width: 1200px;color: window;padding-top:20px 0px 40px 0px; margin: 0 auto; }
 
 .ft_a li{margin: 30px 20px 30px 0px;display: inline-block; }
 .ft_b{
 display: flex;
 justify-content: space-between;
 margin: 50px 0px;
 width: 1200px;
 color: window;
 margin: 0 auto;
 }
 
 
 
 
 
 
 