@charset "UTF-8";

@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
	font-family: '맑은고딕';
	margin: 0px;
	padding: 0px;
	color: black;
}



.logobox{/* 로고구역 */
	text-align: center; 
}

.title{ /* 로고제목 */
	font-family: 'RixInooAriDuriR';
	color: black;
	font-size: 40px;
}
/* 하단 메뉴 top 위치 변경 */
.h_bottom{
	top : 40px !important; /* 임폴턴트를 안쓰면 중복돼서 스티키가 안먹힌다  */
}

.nav-link{
	color: black !important;
}


.h_topmenu{/* 상단메뉴를 오른쪽으로 */
	width: 100%;display: flex; justify-content: flex-end;font-size: 9px;
}

.h_bottummenu{/* 하단메뉴 */
	width: 100%;display: flex;justify-content: space-between; font-size: 15px;
}



.d-block{ width:80%; text-align: center;}











